<ul>
  <li>
    {% if page.url == "/work-history/" %}
    <a class="active" href="/work-history/">
    {% else %}
    <a class="inactive" href="/work-history/">
    {% endif %}
      Overview
    </a>
  </li>
  {% assign sortedResume = site.data.resume | date_sort: 'startDate' %}
  {% for entry_hash in sortedResume reversed %}
  {% assign entry = entry_hash[1] %}
  {% assign url = entry._id | prepend: "/work-history/" | append: ".html" %}
  <li>
    {% if page.url == url %}
    <a class="active" href="{{ url }}">
    {% else %}
    <a class="inactive" href="{{ url }}">
    {% endif %}
      {{ entry.name | default: entry.employer.short_name | default: entry.employer.name }}
    </a>
  </li>
  {% endfor %}
</ul>