$corner-radius: 8px;

section#summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 15px;

  img.company-logo {
    flex-basis: 25%;
    max-width: 250px;
    max-height: 110px;
    object-fit: contain;
  }

  dl {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 60%;
    border: solid 1px $grey-color;
    border-radius: $corner-radius;
    margin-bottom: 0;

    dt {
      flex-basis: 17%;
      padding: 2px 10px;
      margin: 0;
      background: $grey-color;
      text-align: right;
      color: #fff;
      border: solid 2px $grey-color;
      &:first-of-type {
        border-radius: ($corner-radius - 2px) 0 0 0; 
      }
      &:last-of-type {
        border-radius: 0 0 0 ($corner-radius - 2px); 
      }
    }

    dd {
      flex-basis: 70%;
      flex-grow: 1;
      margin: 0;
      padding: 4px 4px 1px 10px;
      border-bottom: 1px solid $grey-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

article.post {
  position: relative;

  aside#sidebar {
    display: block;
    position: absolute;
    left: -270px;
    width: 240px;
    border-right: solid 1px $grey-color-light;
    top: -30px;
    padding-top: 94px;

    section#toc {
      ul {
        list-style-type: none;

        li {
          a {
            line-height: 200%;
            padding: 6px 8px;
            display: block;
            text-align: right;
            border: solid 1px transparent;
            border-radius: $corner-radius 0 0 $corner-radius;

            &.active {
              font-weight: bold;
              background-color: $grey-color-light;
            }
          }
        }
      }
    }
  }

  a#back-to-overview {
    display: none;
    opacity: 0.7;
    font-size: smaller;
    position: relative;
    top: -27px;
    &:before {
      content: '◄';
      display: inline-block;
    }
  }

  @include media-query($on-palm) {
    // if the screen is small enough to hide the menu, change the way we display job summary info, too
    section#summary {
      display: block;
      dl {
        display: block;
        dt {
          text-align: left;
          padding-left: 0;

          &:last-of-type {
            border-radius: 0;
          }
        }
        dd {
          padding-left: 0;
        }
      }
      img {
        display: none;
      }
    }
  }
  @include media-query($on-widescreen) {
    // on anything smaller than a really big screen, hide the sidebar and enable the back link
    aside#sidebar {
      display: none;
    }
    a#back-to-overview {
      display: block;
    }
  }

  .work-history-summary {
    list-style-type: none;
    li:hover {
      list-style-type: '►   ';
    }

    .title {
      margin-bottom: 0;
    }
    .dates {
      font-size: larger;
      opacity: 0.75;
      position: relative;
      top: -5px;
    }
  }
}

.site-nav {
  .page-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 38px;
    padding: 3px 8px;
    border: 1px transparent;
    border-radius: 5px;

    &:hover {
      background-color: $grey-color-light;
    }

    &.active {
      background-color: $grey-color-dark;
      color: white;

    }

  }
}