.dummy { font-size: 10px; }
.size11px { font-size: 11px; }
.size8 { font-size: 10px; }
.size9 { font-size: 12px; }
.size10 { font-size: 13px; }
.size11 { font-size: 14px; }
.size12 { font-size: 16px; }
.size14 { font-size: 18px; }
.size16 { font-size: 20px; }
.size18 { font-size: 24px; }
.size20 { font-size: 26px; }
.size22 { font-size: 28px; }
.size24 { font-size: 32px; }
.size26 { font-size: 34px; }
.size28 { font-size: 36px; }
.size36 { font-size: 48px; }
.size48 { font-size: 64px; }
.size72 { font-size: 96px; }
.Courier8 { font-family: Courier New, adobe-courier, Courier; font-size: 11px; }
.Courier9 { font-family: Courier New, adobe-courier, Courier; font-size: 12px; }
.Courier10 { font-family: Courier New, adobe-courier, Courier; font-size: 14px; }
.Courier11 { font-family: Courier New, adobe-courier, Courier; font-size: 14px; }
.Courier12 { font-family: Courier New, adobe-courier, Courier; font-size: 17px; }
.Courier14 { font-family: Courier New, adobe-courier, Courier; font-size: 19px; }
.Courier16 { font-family: Courier New, adobe-courier, Courier; font-size: 20px; }
.Courier18 { font-family: Courier New, adobe-courier, Courier; font-size: 25px; }
.Courier20 { font-family: Courier New, adobe-courier, Courier; font-size: 26px; }
.Courier22 { font-family: Courier New, adobe-courier, Courier; font-size: 28px; }
.Courier24 { font-family: Courier New, adobe-courier, Courier; font-size: 33px; }
.Courier26 { font-family: Courier New, adobe-courier, Courier; font-size: 34px; }
.Courier28 { font-family: Courier New, adobe-courier, Courier; font-size: 36px; }
.Courier36 { font-family: Courier New, adobe-courier, Courier; font-size: 49px; }
.Courier48 { font-family: Courier New, adobe-courier, Courier; font-size: 64px; }
.Courier72 { font-family: Courier New, adobe-courier, Courier; font-size: 96px; }
.Helvetica8 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 11px; }
.Helvetica9 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 12px; }
.Helvetica10 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 14px; }
.Helvetica11 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 14px; }
.Helvetica12 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 17px; }
.Helvetica14 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 19px; }
.Helvetica16 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 20px; }
.Helvetica18 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 25px; }
.Helvetica20 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 26px; }
.Helvetica22 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 28px; }
.Helvetica24 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 33px; }
.Helvetica26 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 34px; }
.Helvetica28 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 36px; }
.Helvetica36 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 49px; }
.Helvetica48 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 64px; }
.Helvetica72 { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 96px; }
.TimesRoman8 { font-family: Times New Roman, adobe-times, Times; font-size: 10px; }
.TimesRoman9 { font-family: Times New Roman, adobe-times, Times; font-size: 12px; }
.TimesRoman10 { font-family: Times New Roman, adobe-times, Times; font-size: 14px; }
.TimesRoman11 { font-family: Times New Roman, adobe-times, Times; font-size: 14px; }
.TimesRoman12 { font-family: Times New Roman, adobe-times, Times; font-size: 16px; }
.TimesRoman14 { font-family: Times New Roman, adobe-times, Times; font-size: 19px; }
.TimesRoman16 { font-family: Times New Roman, adobe-times, Times; font-size: 20px; }
.TimesRoman18 { font-family: Times New Roman, adobe-times, Times; font-size: 24px; }
.TimesRoman20 { font-family: Times New Roman, adobe-times, Times; font-size: 26px; }
.TimesRoman22 { font-family: Times New Roman, adobe-times, Times; font-size: 28px; }
.TimesRoman24 { font-family: Times New Roman, adobe-times, Times; font-size: 32px; }
.TimesRoman26 { font-family: Times New Roman, adobe-times, Times; font-size: 34px; }
.TimesRoman28 { font-family: Times New Roman, adobe-times, Times; font-size: 36px; }
.TimesRoman36 { font-family: Times New Roman, adobe-times, Times; font-size: 48px; }
.TimesRoman48 { font-family: Times New Roman, adobe-times, Times; font-size: 64px; }
.TimesRoman72 { font-family: Times New Roman, adobe-times, Times; font-size: 96px; }

UL.lpx { margin-top: 0px; margin-bottom: 0px; }
img.lpxtab { height: 1em; border: 0px; }
.photositealbum { font-size: 9px; }

/* Support for text published by the OE. */
div.lpxtext { font-family: Arial, Helvetica, adobe-helvetica, Arial Narrow; font-size: 13px; }
div.lpxtext p  { margin-top: 0px; margin-bottom: 0px; }
div.lpxtext ul  { margin-top: 0px; margin-bottom: 0px; }
